Week_05/spring-xml/src/main/resources/META-INF/namespace/school.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.transformers.com/schema/transformers/school"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.transformers.com/schema/transformers/school"
            elementFormDefault="qualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>

    <xsd:element name="school">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="klass-refs" type="xsd:string" use="required"/>
            <xsd:attribute name="student-refs" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="klass">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="students-refs" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
